﻿@using StackExchange.Profiling
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ImageMood</title>
        <!-- ko if: $root.wait() -->
      @*  <link href="~/Content/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
        <!-- /ko -->
        <!-- ko if: !$root.wait() -->
      @*  <link href="~/Content/favicon-loading.ico" rel="shortcut icon" type="image/x-icon" />*@
        <!-- /ko -->
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/custom/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper clear-fix">
                <div class="float-left">
                    <div class="site-title"><i class="icon-camera-retro"></i><a href="/moods#popular">ImageMood</a></div>
                </div>                
                <div class="float-right">                    
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>                    
                </div>
                <div class="float-left">
                    <nav>
                        <ul id="menu">
                            <li><a href="@Url.Action("Index", "Moods")"><i class="icon-dashboard icon-mood"></i> Moods</a></li>
                            <li><a href="#" data-bind="click: $root.imageDialog"><i class="icon-upload"></i> Add image</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @("2013" + (DateTime.Now.Year > 2013 ? " - " + DateTime.Now.Year : "" )) : ImageMood</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryVal")
        @Html.RenderPageScripts()
        @MiniProfiler.RenderIncludes()              
        <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter20544532 = new Ya.Metrika({ id: 20544532, clickmap: true, trackLinks: true, accurateTrackBounce: true, trackHash: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/20544532" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->  
    </body>
</html>
