﻿@using ImageMood.Models
@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <text>Welcome, <span>@UserContext.GetContext().UserName</span> !</text>
    @*<ul>
        <li><i class="icon-angle-right"></i>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink" })</li>
        <li><i class="icon-angle-right"></i>@Html.ActionLink("Log in", "Login", "Account", null, new { id = "loginLink" })</li>
    </ul>*@
}
