﻿@{
    ViewBag.Title = "HeIsTooOld";
}
<style>
    body {
        color: white;
        background: black;
        font-size: 1.2em;
    }
    
</style>
<h2>He is too old :3</h2>
<img src="http://carrotsncake.com/wp-content/uploads/2010/01/yoda.jpg" alt="too old">
<p>Dude, your browser was born too early and had probably seen dinosaurs!</p>
<p>We cannot allow you to see this page for aesthetic reasons.</p>

<p>You can dowload and install <a href="https://www.google.com/intl/ru/chrome/browser/">one</a> <a href="http://www.mozilla.org">of</a> <a href="http://www.opera.com/">the</a> <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">modern</a> browsers and start exploring the Galaxy.</p>