﻿@mixin calc($property, $expression)
{
	 #{$property}: -moz-calc(#{$expression}); 
	 #{$property}: -o-calc(#{$expression}); 
	 #{$property}: -webkit-calc(#{$expression}); 
	 #{$property}: calc(#{$expression}); 
}
@mixin border-radius ($radius)
{
	-webkit-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-sizing($sizing)
{
	-moz-box-sizing:    $sizing;
-webkit-box-sizing: $sizing;
box-sizing:        $sizing;
}

$line-height: 26px;
$font-size: 18px;
$font: 'Georgia', serif;


/*Main colors*/
$sweet-green: steelblue;

body
{
	font-family: $font;
	font-size: $font-size;
	line-height: $line-height;
	background: Url('/Images/backgr.jpg') #384A5E;
    color: white;
    margin: 0;
    padding: 0;
 }
 a {text-decoration: none;}

 ul.linear-ul
 {
	li {
		display: inline-block;
		list-style: none;
	}
	
 }
 span.field-validation-error {
					font-size: 16px;
					font-style: normal;
					position: absolute;
					display: inline-block;					
					z-index: 102;
					background: red;
					color: white;
					left: 5px;
					/*right: 0;*/
					bottom: 50px;
					padding: 2px 20px;
					border: 1px solid maroon;
				}
 .image-upload
 {
	padding: 0 10px;
	input[type=text], .dropbox {width: 100%;@include box-sizing(border-box); text-transform: capitalize}
	input[type=submit] {background: $sweet-green; color: White;}
	
	> form {
	div {position: relative}
	
				/*span {display: none}*/
				}
	> .image-source {
		margin: 10px 0;
		.uploaded-image {
		text-align: center;
			position: relative;
			.remove-image {position: absolute; top: 5px; right: 5px; background: black; padding: 5px; cursor: pointer}
			img {max-height: 500px; max-width: 100%; width: auto;}
		}
		> .sources {
		text-align: center;
			input[type=file] {display:block;height:0;width:0; border: none; padding: 0; margin: 0; position: absolute; left: -9999px;}
			.from-hard, .from-url, { cursor: pointer; padding: 3px 0; margin: 5px 0; &:hover {background: #333333;}}			

			.dropbox {height: 150px; border: 5px dashed white; display: table; vertical-align: middle; 
				span {display: table-cell; vertical-align: middle}
				&.over {border: 5px dashed $sweet-green;}
				&:hover {background: #333333}
			}		
			.message { display: inline-block;}
			
		}
		.progressHolder {
			margin: 5px; background: white; padding: 2px;
			.progress {width: 0; height: 15px; background: green;}
		}
	}
 }
 .i-feel
 {
	$button-width:50px;
	$label-width: 100px;
	$font-size: 24px;
	$style: italic;
	form {
		/*position: relative;		*/
		font-style: $style;
		position: relative;
		.feel-label {
			color: darkorange;
			width: $label-width;
			line-height: $line-height;
			position: absolute;
			left: 10px;	
			top: 13px;
			font-size: $font-size;

		}
	}
	
	input[type=text]{
		@include box-sizing(border-box);
		font-family: $font;
		font-size: $font-size;
		font-style: $style;
		width: 100%;
		padding-right: $button-width + 20px;
		padding-left: $label-width;
	}
	button[type=submit]
	{	
		width: $button-width;
		height: $line-height;
		border:none;
		margin: 0;
		padding: 0;
		background:transparent;
		position: absolute; 
		right: 0;
		top: 13px;
		&:disabled {
			i {color: lightgrey;}
		}
	}
 }
 $back-gray: rgb(0, 0, 0);
 $back-gray-text-color: white;

 .list-nav
 {
	
	ul {
		@extend  .linear-ul;
		margin: 10px 0 0 0;
		li {
			
			padding: 7px 10px;
			margin-right: 10px;
			cursor: pointer;
			text-transform: capitalize;
			background: white;
			color: Black;
			&.selected
			{
				background: $back-gray;
				color: white; 
				&:not(.shuffle) {cursor: default;}
			}			
			&:hover:not(.selected), &.shuffle:hover
			{
				background:  $sweet-green;
				color: White;
			}
		}
	}
 }
 .moods, .images {
	padding: 5px 0;
	background: $back-gray;
	color: $back-gray-text-color;
	ul {min-height: 300px;}
	.info-text{
		padding: 10px 20px;
		$ratio: .7;
		font-size: $font-size*$ratio;
		.chosen {
			text-transform: capitalize; font-size: $font-size; margin: 0 7px;
			border-bottom: 2px dotted white;
			color: skyblue;
			
		}
		a {color: white;  border-bottom: 1px solid white; &:hover i {color: $sweet-green;}}
	}
 }

 .images-list {
	padding: 0 10px;
	li {
		
		padding: 0;
		height: 150px;		
		list-style: none;
		float: left;
		.img-container { 	
			cursor: pointer;	    
			margin: 3px; 
			overflow: hidden;
			img {
                height: 140px;
                width: auto;
            }
		}
    }
}

.ajax-center
{
	$width: 64px;
	/*display: none;*/
    width:$width;
    height: $width;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url('/Images/ajax-loader.gif') no-repeat center transparent;
    text-align:center;
    padding:10px;        
    margin-left: -$width/2;
    margin-top: -$width/2;
    z-index:102;
    overflow: auto;
	display: table-cell;
	vertical-align: middle;
}

.theater {
	zoom: 1;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
                
	overflow: auto;
	z-index: 100;	
		.center {
		width: 850px;
		margin: 20px auto;
		z-index: 101;
	}
	i.icon-remove {font-size: 40px; color: White; opacity:.5; cursor: pointer; position: absolute; top: 0; right: 0; z-index: 105;
		&:hover {opacity:1}
	}
}



.image-viewer {
	
    background: black;
    padding: 10px 0;
	position: relative;
	
	nav {
		i {
			$arrow-width: 100px;
			cursor: pointer;
			text-align: center;
			width: $arrow-width;			
			font-size: $arrow-width;
			color: white;
			opacity:.5;
			position: absolute;
			top: 40%;
			&.icon-angle-left {left: -$arrow-width}
			&.icon-angle-right {right: -$arrow-width}
			&:hover {opacity:1}
		}
	}
	h4 {
		margin: 0;
        padding: 20px;
        color: white;
    }
	img {     
		display: block;
		margin: 0 auto;   
        height: auto;
		max-height: 70%;
		max-width: 100%;
    }
	.image-moods{
		ul {
			@extend .linear-ul;
			margin: 0;
			padding: 5px 10px;
			li {
				font-size: 14px;
				line-height: 18px;
				text-transform: capitalize;
				padding: 3px 5px;			
				margin-right: 5px;
				margin-bottom: 5px;
				background: #384a5e;				
				a {color: white}
				
			/*	@include border-radius(5px);*/
				&:hover {
					background: $sweet-green;
				}
				.image-mood:hover {border-bottom: 1px solid white}
				.icon-heart {color: red; display: inline-block}
				.votes { 					
					margin-left: 5px;
					&:not(.voted) .icon-heart {display: none}
					&:hover {.icon-heart-empty {display: none} .icon-heart {display: inline-block}}
				} 
			}			
		}
		form {
				margin: 0 10px;
				input[type=text] {padding-left: 108px;}
				.feel-label, i {				
					color: darkorange;
					left: 5px;
				}
			}
		
	}
}

 .moods
 {
	.moods-list{		
		position: relative;
		ul {	
				@extend  .linear-ul;
			li {cursor: pointer;text-transform: capitalize;
				padding: 7px 10px;margin-right: 5px;
				.selected {color: $sweet-green;}
				&:hover{background:  $sweet-green;}
			}
		}
	}

 }



 /*----------------------------------------------------------------------
 Old css
 -----------------------------------------------------------------------*/

 html {
    margin: 0;
    padding: 0;
}


header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.hidden { display: none}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    clear: both;
    padding-top: 55px;
}
.main-content {

}
header {
	position: fixed;
	width: 100%;
	
	top: 0;
	background: black;
	border-bottom: 2px solid black;
	
	z-index: 99;
	.content-wrapper {
		padding: 7px 0;
	}
	nav {
		text-align: center;
	}

	#menu {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			list-style: none;
			padding-left: 15px;
			a {
				background: none;
				color: white;
				text-decoration: none;
				&:hover {
					color: white;
					border-bottom: 1px solid white;
				}
			}
			&:hover {
				.icon-mood {color: skyblue}
				.icon-upload {color: yellowgreen}
			}
		}
	}


	#login {
		padding-left: 20px;
		ul {
			@extend .linear-ul;
			margin: 0;
			padding: 0;
			li {
				a {
				background: none;
				color: white;
				text-decoration: none;
				&:hover {
					color: white;
					border-bottom: 1px solid white;
				}
			}
			}
		}
		span {font-weight: bold; color: skyblue}
	}

	.site-title {
		$color: orange;
		color: $color;
		margin: 0;
		padding-right: 14px;
		a, a:hover, a:active {
			background: none;
			color: $color;
			outline: none;
			text-decoration: none;
		}
		i {margin-right: 5px;}
	}
	.search {
		
		padding: 0 7px;
		input[type=search] {
			width: 100%; margin: 0;
		}
	}
}




footer {
    clear: both;
    font-size: .8em;
    height: 100px;
	text-align: center;
}




/* page elements
----------------------------------------------------------*/

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* content */
article {
    float: left;
    width: 70%;
}

.label {
    font-weight: 700;
}


#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}


label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}



/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
	header {
		position: static;
	}
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

	#body {    
		padding-top: 5px;
	}

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
		
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }



    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* forms */
/*    input {
        width: 90%;
    }*/

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }


.list-nav
 {
	ul {
		
		li {

			margin-right: 5px;
		}
	}
 }

 .theater {
		.center {
		width: 100%;
		margin: 0 auto;
	}
}

.image-viewer {
	 nav {
		i {
			$arrow-width: 60px;
			width: $arrow-width;			
			font-size: $arrow-width;
			&.icon-angle-left {left: 0}
			&.icon-angle-right {right: 0}
		}
	}

}
@media screen and (max-width: 400px) {

	.list-nav
	 {
		ul {
			padding: 0;
			li {
				display: block;
				text-align: center;
				padding: 2px 0;
				margin: 2px 0;
			}
		}
	 }
	 .image-viewer {
	 nav {
		i {
			$arrow-width: 30px;
			width: $arrow-width;			
			font-size: $arrow-width;
			&.icon-angle-left {left: 0}
			&.icon-angle-right {right: 0}
		}
	}
	}
	.theater {i.icon-remove {font-size: 30px;}}
}
}