/*Main colors*/
body {
  font-family: "Georgia", serif;
  font-size: 18px;
  line-height: 26px;
  background: Url("/Images/backgr.jpg") #384a5e;
  color: white;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul.linear-ul li, .list-nav ul li, .image-viewer .image-moods ul li, .moods .moods-list ul li, header #login ul li {
  display: inline-block;
  list-style: none; }

span.field-validation-error {
  font-size: 16px;
  font-style: normal;
  position: absolute;
  display: inline-block;
  z-index: 102;
  background: red;
  color: white;
  left: 5px;
  /*right: 0;*/
  bottom: 50px;
  padding: 2px 20px;
  border: 1px solid maroon; }

.image-upload {
  padding: 0 10px; }
  .image-upload input[type=text], .image-upload .dropbox {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize; }
  .image-upload input[type=submit] {
    background: steelblue;
    color: White; }
  .image-upload > form {
    /*span {display: none}*/ }
    .image-upload > form div {
      position: relative; }
  .image-upload > .image-source {
    margin: 10px 0; }
    .image-upload > .image-source .uploaded-image {
      text-align: center;
      position: relative; }
      .image-upload > .image-source .uploaded-image .remove-image {
        position: absolute;
        top: 5px;
        right: 5px;
        background: black;
        padding: 5px;
        cursor: pointer; }
      .image-upload > .image-source .uploaded-image img {
        max-height: 500px;
        max-width: 100%;
        width: auto; }
    .image-upload > .image-source > .sources {
      text-align: center; }
      .image-upload > .image-source > .sources input[type=file] {
        display: block;
        height: 0;
        width: 0;
        border: none;
        padding: 0;
        margin: 0;
        position: absolute;
        left: -9999px; }
      .image-upload > .image-source > .sources .from-hard, .image-upload > .image-source > .sources .from-url {
        cursor: pointer;
        padding: 3px 0;
        margin: 5px 0; }
        .image-upload > .image-source > .sources .from-hard:hover, .image-upload > .image-source > .sources .from-url:hover {
          background: #333333; }
      .image-upload > .image-source > .sources .dropbox {
        height: 150px;
        border: 5px dashed white;
        display: table;
        vertical-align: middle; }
        .image-upload > .image-source > .sources .dropbox span {
          display: table-cell;
          vertical-align: middle; }
        .image-upload > .image-source > .sources .dropbox.over {
          border: 5px dashed steelblue; }
        .image-upload > .image-source > .sources .dropbox:hover {
          background: #333333; }
      .image-upload > .image-source > .sources .message {
        display: inline-block; }
    .image-upload > .image-source .progressHolder {
      margin: 5px;
      background: white;
      padding: 2px; }
      .image-upload > .image-source .progressHolder .progress {
        width: 0;
        height: 15px;
        background: green; }

.i-feel form {
  /*position: relative;		*/
  font-style: italic;
  position: relative; }
  .i-feel form .feel-label {
    color: darkorange;
    width: 100px;
    line-height: 26px;
    position: absolute;
    left: 10px;
    top: 13px;
    font-size: 24px; }
.i-feel input[type=text] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Georgia", serif;
  font-size: 24px;
  font-style: italic;
  width: 100%;
  padding-right: 70px;
  padding-left: 100px; }
.i-feel button[type=submit] {
  width: 50px;
  height: 26px;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  position: absolute;
  right: 0;
  top: 13px; }
  .i-feel button[type=submit]:disabled i {
    color: lightgrey; }

.list-nav ul {
  margin: 10px 0 0 0; }
  .list-nav ul li {
    padding: 7px 10px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: capitalize;
    background: white;
    color: Black; }
    .list-nav ul li.selected {
      background: black;
      color: white; }
      .list-nav ul li.selected:not(.shuffle) {
        cursor: default; }
    .list-nav ul li:hover:not(.selected), .list-nav ul li.shuffle:hover {
      background: steelblue;
      color: White; }

.moods, .images {
  padding: 5px 0;
  background: black;
  color: white; }
  .moods ul, .images ul {
    min-height: 300px; }
  .moods .info-text, .images .info-text {
    padding: 10px 20px;
    font-size: 16.8px; }
    .moods .info-text .chosen, .images .info-text .chosen {
      text-transform: capitalize;
      font-size: 24px;
      margin: 0 7px;
      border-bottom: 2px dotted white;
      color: skyblue; }
    .moods .info-text a, .images .info-text a {
      color: white;
      border-bottom: 1px solid white; }
      .moods .info-text a:hover i, .images .info-text a:hover i {
        color: steelblue; }

.images-list {
  padding: 0 10px; }
  .images-list li {
    padding: 0;
    height: 150px;
    list-style: none;
    float: left; }
    .images-list li .img-container {
      cursor: pointer;
      margin: 3px;
      overflow: hidden; }
      .images-list li .img-container img {
        height: 140px;
        width: auto; }

.ajax-center {
  /*display: none;*/
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: url("/Images/ajax-loader.gif") no-repeat center transparent;
  text-align: center;
  padding: 10px;
  margin-left: -32px;
  margin-top: -32px;
  z-index: 102;
  overflow: auto;
  display: table-cell;
  vertical-align: middle; }

.theater {
  zoom: 1;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: auto;
  z-index: 100; }
  .theater .center {
    width: 850px;
    margin: 20px auto;
    z-index: 101; }
  .theater i.icon-remove {
    font-size: 40px;
    color: White;
    opacity: .5;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 105; }
    .theater i.icon-remove:hover {
      opacity: 1; }

.image-viewer {
  background: black;
  padding: 10px 0;
  position: relative; }
  .image-viewer nav i {
    cursor: pointer;
    text-align: center;
    width: 100px;
    font-size: 100px;
    color: white;
    opacity: .5;
    position: absolute;
    top: 40%; }
    .image-viewer nav i.icon-angle-left {
      left: -100px; }
    .image-viewer nav i.icon-angle-right {
      right: -100px; }
    .image-viewer nav i:hover {
      opacity: 1; }
  .image-viewer h4 {
    margin: 0;
    padding: 20px;
    color: white; }
  .image-viewer img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 70%;
    max-width: 100%; }
  .image-viewer .image-moods ul {
    margin: 0;
    padding: 5px 10px; }
    .image-viewer .image-moods ul li {
      font-size: 14px;
      line-height: 18px;
      text-transform: capitalize;
      padding: 3px 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      background: #384a5e;
      /*	@include border-radius(5px);*/ }
      .image-viewer .image-moods ul li a {
        color: white; }
      .image-viewer .image-moods ul li:hover {
        background: steelblue; }
      .image-viewer .image-moods ul li .image-mood:hover {
        border-bottom: 1px solid white; }
      .image-viewer .image-moods ul li .icon-heart {
        color: red;
        display: inline-block; }
      .image-viewer .image-moods ul li .votes {
        margin-left: 5px; }
        .image-viewer .image-moods ul li .votes:not(.voted) .icon-heart {
          display: none; }
        .image-viewer .image-moods ul li .votes:hover .icon-heart-empty {
          display: none; }
        .image-viewer .image-moods ul li .votes:hover .icon-heart {
          display: inline-block; }
  .image-viewer .image-moods form {
    margin: 0 10px; }
    .image-viewer .image-moods form input[type=text] {
      padding-left: 108px; }
    .image-viewer .image-moods form .feel-label, .image-viewer .image-moods form i {
      color: darkorange;
      left: 5px; }

.moods .moods-list {
  position: relative; }
  .moods .moods-list ul li {
    cursor: pointer;
    text-transform: capitalize;
    padding: 7px 10px;
    margin-right: 5px; }
    .moods .moods-list ul li .selected {
      color: steelblue; }
    .moods .moods-list ul li:hover {
      background: steelblue; }

/*----------------------------------------------------------------------
Old css
-----------------------------------------------------------------------*/
html {
  margin: 0;
  padding: 0; }

header, footer, hgroup,
nav, section {
  display: block; }

mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px; }

.hidden {
  display: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

h1, h2, h3,
h4, h5, h6 {
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5, h6 {
  font-size: 1em; }

h5 a:link, h5 a:visited, h5 a:active {
  padding: 0;
  text-decoration: none; }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
  margin: 0 auto;
  max-width: 960px; }

#body {
  clear: both;
  padding-top: 55px; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: black;
  border-bottom: 2px solid black;
  z-index: 99; }
  header .content-wrapper {
    padding: 7px 0; }
  header nav {
    text-align: center; }
  header #menu {
    margin: 0;
    padding: 0; }
    header #menu li {
      display: inline;
      list-style: none;
      padding-left: 15px; }
      header #menu li a {
        background: none;
        color: white;
        text-decoration: none; }
        header #menu li a:hover {
          color: white;
          border-bottom: 1px solid white; }
      header #menu li:hover .icon-mood {
        color: skyblue; }
      header #menu li:hover .icon-upload {
        color: yellowgreen; }
  header #login {
    padding-left: 20px; }
    header #login ul {
      margin: 0;
      padding: 0; }
      header #login ul li a {
        background: none;
        color: white;
        text-decoration: none; }
        header #login ul li a:hover {
          color: white;
          border-bottom: 1px solid white; }
    header #login span {
      font-weight: bold;
      color: skyblue; }
  header .site-title {
    color: orange;
    margin: 0;
    padding-right: 14px; }
    header .site-title a, header .site-title a:hover, header .site-title a:active {
      background: none;
      color: orange;
      outline: none;
      text-decoration: none; }
    header .site-title i {
      margin-right: 5px; }
  header .search {
    padding: 0 7px; }
    header .search input[type=search] {
      width: 100%;
      margin: 0; }

footer {
  clear: both;
  font-size: .8em;
  height: 100px;
  text-align: center; }

/* page elements
----------------------------------------------------------*/
/* page titles */
hgroup.title {
  margin-bottom: 10px; }

hgroup.title h1, hgroup.title h2 {
  display: inline; }

hgroup.title h2 {
  font-weight: normal;
  margin-left: 3px; }

/* features */
section.feature {
  width: 300px;
  float: left;
  padding: 10px; }

/* content */
article {
  float: left;
  width: 70%; }

.label {
  font-weight: 700; }

#socialLoginForm {
  margin-left: 40px;
  float: left;
  width: 40%; }

#socialLoginForm h2 {
  margin-bottom: 5px; }

#socialLoginList button {
  margin-bottom: 12px; }

#logoutForm {
  display: inline; }

/* contact */
.contact h3 {
  font-size: 1.2em; }

.contact p {
  margin: 5px 0 0 10px; }

.contact iframe {
  border: 1px solid #333;
  margin: 5px 0 0 10px; }

label {
  display: block;
  font-size: 1.2em;
  font-weight: 600; }

label.checkbox {
  display: inline; }

input, textarea {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  font-size: 1.2em;
  margin: 5px 0 6px 0;
  padding: 5px;
  width: 300px; }

textarea {
  font-family: inherit;
  width: 500px; }

input:focus, textarea:focus {
  border: 1px solid #7ac0da; }

input[type="checkbox"] {
  background: transparent;
  border: inherit;
  width: auto; }

input[type="submit"],
input[type="button"],
button {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px;
  margin-right: 8px;
  width: auto; }

/* info and errors */
.message-info {
  border: 1px solid;
  clear: both;
  padding: 10px 20px; }

.message-error {
  clear: both;
  color: #e80c4d;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0 10px 0; }

.message-success {
  color: #7ac0da;
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px 0 10px 0; }

.error {
  color: #e80c4d; }

.field-validation-valid {
  display: none; }

input.input-validation-error {
  border: 1px solid #e80c4d; }

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
  /* header
  ----------------------------------------------------------*/
  header {
    position: static; }

  header .float-left,
  header .float-right {
    float: none; }

  /* logo */
  header .site-title {
    margin: 10px;
    text-align: center; }

  #body {
    padding-top: 5px; }

  /* login */
  #login {
    font-size: .85em;
    margin: 0 0 12px;
    text-align: center; }

  #login ul {
    margin: 5px 0;
    padding: 0; }

  #login li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0; }

  #login a {
    background: none;
    color: #999;
    font-weight: 600;
    margin: 2px;
    padding: 0; }

  #login a:hover {
    color: #333; }

  /* main layout
  ----------------------------------------------------------*/
  .main-content,
  .featured + .main-content {
    background-position: 10px 0; }

  .content-wrapper {
    padding-right: 10px;
    padding-left: 10px; }

  .featured .content-wrapper {
    padding: 10px; }

  /* page content */
  article, aside {
    float: none;
    width: 100%; }

  /* forms */
  /*    input {
          width: 90%;
      }*/
  /* login page */
  #loginForm {
    border-right: none;
    float: none;
    width: auto; }

  #loginForm .validation-error {
    display: block;
    margin-left: 15px; }

  #socialLoginForm {
    margin-left: 0;
    float: none;
    width: auto; }

  /* footer
  ----------------------------------------------------------*/
  footer .float-left,
  footer .float-right {
    float: none; }

  footer {
    text-align: center;
    height: auto;
    padding: 10px 0; }

  footer p {
    margin: 0; }

  .list-nav ul li {
    margin-right: 5px; }

  .theater .center {
    width: 100%;
    margin: 0 auto; }

  .image-viewer nav i {
    width: 60px;
    font-size: 60px; }
    .image-viewer nav i.icon-angle-left {
      left: 0; }
    .image-viewer nav i.icon-angle-right {
      right: 0; } }
@media only screen and (max-width: 850px) and (max-width: 400px) {
  .list-nav ul {
    padding: 0; }
    .list-nav ul li {
      display: block;
      text-align: center;
      padding: 2px 0;
      margin: 2px 0; }

  .image-viewer nav i {
    width: 30px;
    font-size: 30px; }
    .image-viewer nav i.icon-angle-left {
      left: 0; }
    .image-viewer nav i.icon-angle-right {
      right: 0; }

  .theater i.icon-remove {
    font-size: 30px; } }

