﻿@model ImageMood.Models.LoginModel

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new {ViewBag.ReturnUrl })
</section>

@using (Html.BeginScripts())
{
 @Scripts.Render("~/bundles/jqueryval")   
}