﻿@using ImageMood.Helpers
@model IEnumerable<ImageMood.Entities.Image>

@{
    ViewBag.Title = "GetImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Images list</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoodsString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="image@(item.Id)">

        <td>
            <img src="@item.Thumb"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.DeleteHash)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @using (Ajax.BeginForm("Delete", new AjaxOptions {UpdateTargetId = "image" + item.Id}))
            {
                <input type="hidden" name="Id" value="@item.Id"/>
                <button type="submit"><i class="icon-eject"></i> Delete image</button>
            }

        </td>
    </tr>
}

</table>
