﻿@using ImageMood.Entities
@using MightyHelpers.MvcHelpers
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Feel Mood search*@
<section class="i-feel">
    <form data-bind="submit: $root.exploreMood" method="POST" action="/">
    <div class ="feel-label"><i class="icon-star"></i>I feel</div>
    <input id="moodSearch" type="text" data-bind="value: $root.foundMood" />
    </form>
</section>
@*Moods view - navigation and list*@
<section class="moods-view" data-bind="visible: view() == 'moods'">
    <nav class="list-nav">
        <ul data-bind="foreach: folders">
            <li data-bind="text: $data, 
    css: { selected: $data == $root.chosenFolder(), shuffle: $data == 'random' },
               click: $root.goToFolder"></li>
        </ul>
    </nav>
    <div class="moods">
        <div class="moods-list">
            <ul data-bind="template : {foreach: chosenMoods, afterAdd: $root.fadeIn}">
                <li data-bind="click: $root.goToMood, css: {selected: $data.Id == $root.chosenMood()}, text: Name">
                </li>
            </ul>
        </div>
    </div>
</section>
@*Images view - navigation, list and viewer*@
<section style="display: none" class="images-view" data-bind="visible: view() == 'images'">
    <nav class="list-nav">
        <ul data-bind="foreach: orders">
            <li data-bind="text: $data, 
    css: { selected: $data == $root.chosenOrder(), shuffle: $data == 'shuffle' },
               click: $root.imagesOfMood">
        </ul>
    </nav>
    <div class="images">
        <div class="info-text">
            You are exploring images of <span class="chosen" data-bind="text: $root.chosenMoodName"></span>
            mood             
            &nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
            
            <div style="display: inline-block"><a href="/"><i class="icon-reply"></i> Back to moods list</a></div>
        </div>
        <ul class="images-list clear-fix" data-bind="template: {foreach: imagesList, afterRender: $root.fitImages}">
            <li class="hidden">
                <div class="img-container" data-bind="click: $root.goToImage">
                    <img data-bind="attr: {src: Thumb}" />
                </div>
            </li>
        </ul>
        <div style="display: none" data-bind="if: $root.anyImagesLeft, click: $root.moreImages">
            More images
        </div>
    </div>
    <section class="theater" data-bind="visible: currentImage() != null, click: $root.closeTheater">
        <i class="icon-remove" data-bind="click: $root.closeTheater"></i>
@*        <nav>
                    <!-- ko if: $root.prevImageAvailable -->
                    <i class="icon-angle-left   " data-bind="click: $root.prevImage" title="Previous image"></i>
                    <!-- /ko -->
                    <!-- ko if: $root.nextImageAvailable -->
                    <i class="icon-angle-right" data-bind="click: $root.nextImage" title="Next image"></i>
                    <!-- /ko -->
                </nav>*@
        <div class="center" data-bind="template: {if: currentImage() != null, afterRender: $root.afterImageLoad}">
            <div class="image-viewer" data-bind="with: currentImage">
                <nav>
                    <!-- ko if: $root.prevImageAvailable -->
                    <i class="icon-angle-left   " data-bind="click: $root.prevImage" title="Previous image"></i>
                    <!-- /ko -->
                    <!-- ko if: $root.nextImageAvailable -->
                    <i class="icon-angle-right" data-bind="click: $root.nextImage" title="Next image"></i>
                    <!-- /ko -->
                </nav>
                <h4 data-bind="text: Image.Name">
                </h4>
                <img data-bind="attr: {src: Image.FullUrl, alt: Image.Name}" alt="" />
                <div class="image-moods">
                    <ul data-bind="foreach: Moods">
                        <li>
                            <!-- ko with: Mood -->
                            <a href="#" class="image-mood" data-bind="text: Name, click: $root.goToMood, attr: {title: 'explore ' + Name() + ' mood'}">
                            </a>
                            <!-- /ko -->
                            <a href="#" class="votes" data-bind="css: {voted: Voted}, click: $root.vote, attr: {title: Voted() ? 'voted (cancel vote)' : 'vote this mood' }">
                                
                                    <!-- ko if: !Voted() -->
                                    <i class="icon-heart-empty"></i>
                                    <!-- /ko -->
                                <i class="icon-heart"></i>
                                <span data-bind="text: Rating"></span></a>
                        </li>
                    </ul>
                    <section class="i-feel">
                        <form id="moodAdd" data-bind="submit: $root.addMood" method="POST">
                            <div class ="feel-label"><i class="icon-star"></i>It feels</div>
                            @Html.Partial("EditorTemplates/Mood", new Mood())
                            <button type="submit" value="add" data-bind="enable: $root.moodToAdd().length > 0"
                                    title="Add mood">
                                <i class="icon-tag"></i>
                            </button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </section>
</section>
@*Upload new image*@
<section style="display: none" class="add-image" data-bind="visible: modal() == 'addimage'">
    <section class="theater" data-bind="click: $root.closeTheater">
        <i class="icon-remove" data-bind="click: $root.closeTheater"></i>
        <div class="center">
            <div class="image-viewer" data-bind="template: {if: $root.modal() == 'addimage', afterRender: $root.fadeModal}">
                <div class="image-upload">
                    <h4>
                        Add new image</h4>
                    <div class="image-source">
                        <div class="uploaded-image hidden">
                            <span class="remove-image" title="Remove image"><i class="icon-remove icon-2x"></i>
                            </span>
                            <img />
                        </div>
                        <div class="sources">
                            <div class="dropbox">
                                <span class="message">Drag'n'drop your image here</span>
                            </div>
                            <form enctype="multipart/form-data" action="@Url.Action("Upload", "Images")" method="POST">
                                <div class="from-hard">
                                    <i class="icon-desktop icon-2x"></i>&nbsp;&nbsp;&nbsp;Upload image from computer
                                </div>
                                <input type="file" name="image" accept="image/jpeg,image/png" />
                                <div class="from-url">
                                    <i class="icon-link icon-2x"></i>
                                    <input type="url" name="imageUrl" placeholder="Upload image from url" />
                                </div>
                            </form>
                        </div>
                        <div class="progressHolder hidden">
                            <div class="progress">
                            </div>
                        </div>
                    </div>
                    <form method="POST" data-bind="submit: $root.addImage">
                        @Html.Partial("EditorTemplates/Image")
                        <input type="submit" value="Add image" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
<div class="ajax-center" data-bind="visible: wait()">
</div>
@using (Html.BeginScripts())
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/dropbox")

    <script type="text/javascript">

        var cache = {};
        var timer;
        


        $().ready(function() {
            
            $(document).keydown(function(e) {
                switch (e.keyCode) {
                case 37:
                    {
                        $('.icon-angle-left').click();
                        return false;
                    }
                case 39:
                    {
                        $('.icon-angle-right').click();
                        return false;
                    }
                case 27:
                    {
                        $('.theater').click();
                    }
                default:        
                    return true;
                }
                
            });

            $(window).resize(function() {
                clearTimeout(timer);

                timer = setTimeout(function() {
                    imageFitness.fitImages($('.images-list', false, false));
                }, 100);
            });
            var noResultsLabel = 'No moods found. Try another one';
            $('#moodSearch').autocomplete({
                minLength: 1,
                source: function(request, response) {
                    var term = request.term;
                    if (term in cache) {
                        response(cache[term]);
                        return;
                    }
                    $.get("/moods/quicksearch", request, function(data) {
                        
                        if (data.length == 0) {
                            data = [noResultsLabel];
                        }
                        cache[term] = data;
                        response(data);
                    });
                },
                select: function(event, ui) {
                    
                    if (ui.item.value != noResultsLabel) {
                        viewModel.goToMood({ Id: ui.item.Id, Name: ui.item.Name });
                    }
                    return false;
                },
            });
            uploader.setup();
        });
    </script>
}