﻿@model ImageMood.Entities.Image

   
   
<div >
    @Html.TextBoxFor(model => model.Name, new {placeholder = "Image name"})
    @Html.ValidationMessageFor(model => model.Name)
    
</div>
<div>
    @Html.TextBoxFor(m => m.MoodsString, new Dictionary<string, object>()
        {
            {"placeholder", "Moods for image (select multiple if you want)"},
            {"data-autocomplete-source", Url.Action("QuickSearch", "Moods")}
        })
    @Html.ValidationMessageFor(model => model.MoodsString)
    @Html.ValidationMessageFor(model => model.Url)
    @Html.HiddenFor(m => m.Url)
</div>
@*<input type="text" name="moods" data-autocomplete-source="@Url.Action("QuickSearch", "Moods")"/>*@